html { height: 100%; }
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#root {
    height: 100%;
}

/* Media Queries */
@media only screen and (max-width: 467px) {
    .header-container {
        position: initial !important;
        text-align: center;
    }

    .bio-summary {
        font-size: 12px !important;
    }

    .avatar {
        width: 100px !important;
        height: 100px !important;
    }
}
